.parrafo{
    letter-spacing: 1px;
    line-height: 20px;
    color: #333333;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.paragraph-1{
    font-size: 10px;
}

.paragraph-2{
    font-size: 25px;
}

.paragraph-3{
    font-size: 30px;
}

.paragraph-4{
    font-size: 40px;
}


.parrafoInd-4{
    font-size: 40px;
}

.parrafoInd-3{
    font-size: 30px;
}

.parrafoInd-2{
    font-size: 25px;
}